<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>后台管理 - FYBlog</title>
    <meta name="description" content="FYBlog, Based on React" />
    <meta name="keywords" content="FYBlog" />
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" name="viewport" id="viewport"/>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/assets/animelogo/index.css">
    <link rel="stylesheet" href="/assets/iconfont/iconfont.css">
    <link rel="stylesheet" href="/css/common/common.css">
  </head>
  <body><div id="app-root">
    <div class="lflogo-container" style="margin-top:50%;">
      <div class="ball"><div class="edge"><div class="inner-edge"></div></div></div>
      <div class="ball"><div class="edge"><div class="inner-edge"></div></div></div>
      <div class="ball"><div class="edge"><div class="inner-edge"></div></div></div>
      <div class="ball"> <div class="edge"><div class="inner-edge"></div></div></div>
      <div class="ball"><div class="edge"><div class="inner-edge"></div></div></div>
      <div class="ball"><div class="edge"><div class="inner-edge"></div></div></div>
      <div class="round">
          <div class="logo">
              <div class="leftin">
                  <div></div>
                  <div></div>
              </div>
              <div class="topin">
                  <div></div>
                  <div></div>
              </div>
          </div>
          <div class="info">Welcome My Baby ~</div>
      </div>
    </div>
  </div></body>
</html>
