<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>阴吹思婷~ - FYBlog</title>
    <meta name="description" content="FYBlog, Based on React" />
    <meta name="keywords" content="FYBlog" />
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" name="viewport" id="viewport"/>
    <link rel="shortcut icon" href="/images/favicon.ico">
  </head>
  <body>
    <div>404</div>
  </body>
</html>
