@import "variable.scss";

header {
  position: fixed;
  top: 0;
  padding: 18px 12px;
  line-height: 24px;
  width: 100%;
  height: $headerHeight;
  background-color: $blue;
  box-shadow: $boxShadow;
  color: $white;
  z-index: $level9;
  -webkit-appearance: none;
  .side-toggle {
    position: relative;
    top: -13px;
    float: left;
    width: 50px;
    height: 50px;
    border: 1px solid $white;
    background: $gray;
    border-radius: 50%;
    margin-right: 20px;
    box-shadow: $boxShadow;
    -webkit-appearance: none;
    img {
      border: none;
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
    i {
      position: absolute;
      left: -2px;
      bottom: -2px;
      display: block;
      width: 14px;
      height: 14px;
      font-size: 12px;
      line-height: 14px;
      text-align: center;
      border-radius: 50%;
      background-color: #fff;
      color: #666;
      box-shadow: $boxShadow;
      transition: transform $transSpace ease;
      -webkit-appearance: none;
    }
  }
  h1 {
    padding: 0 12px;
    display: inline;
    font-size: 24px;
  }
  span {
    font-size: 14px;
  }
  ul.tool-bar {
    position: absolute;
    top: 10px;
    right: 0;
    margin-right: 10px;
    a {
      color: $white;
      text-decoration: none;
    }
    li {
      float: left;
      width: 40px;
      height: 40px;
      margin-left: 20px;
      font-size: 20px;
      line-height: 40px;
      text-align: center;
      cursor: pointer;
    }
  }
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  float: left;
  width: $sideBarWidth;
  height: 100%;
  padding-top: $headerHeight + 10;
  box-shadow: $boxShadow;
  z-index: $level8;
  background: #fbfbfb;
  transform: translateX(0);
  transition: transform $transSpace ease;
  -webkit-appearance: none;
  ul {
    a {
      color: $black;
      text-decoration: none;
      li {
        height: 50px;
        line-height: 30px;
        font-size: 16px;
        padding: 10px 20px;
        cursor: pointer;
        i {
          position: relative;
          margin-right: 20px;
        }
        &.active {
          background-color: #eee;
        }
      }
    }
  }
  &.collapsed {
    transform: translateX(-$sideBarWidth);
  }
}

.filters-bar {
  position: fixed;
  left: 220px;
  bottom: 10px;
  z-index: $level9;
  transform: translateX(0);
  transition: transform $transSpace ease;
  white-space: nowrap;
  &.wide {
    transform: translateX(-$sideBarWidth);
  }
  .filter-item {
    display: inline-block;
    margin: 0 8px;
    height: 24px;
    font-size: 12px;
    line-height: 14px;
    padding: 5px 10px;
    border-radius: 15px;
    color: $fontGrayer;
    background-color: $white;
    box-shadow: $boxShadow;
    cursor: pointer;
    transition: all $transSpace ease;
    -webkit-appearance: none;
    &.on {
      color: $white;
      background: rgba(0, 126, 255, 0.86);
      box-shadow: $boxShadowHover;
    }
    &:hover {
      box-shadow: $boxShadowHover;
    }
  }
}

.global-message {
  position: fixed;
  display: inline-block;
  top: 15px;
  left: 50%;
  max-width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transform: translate(-50%, -50px);
  padding: 5px 20px;
  background-color: rgba(255,255,255,.98);
  font-size: 12px;
  transition: transform $transSpace ease;
  border-radius: $borderRadius;
  box-shadow: $boxShadow;
  z-index: $level10;
  -webkit-appearance: none;
  i {
    margin-right: 10px;
  }
  &.danger {
    color: $colorDanger;
  }
  &.warn {
    color: $colorWarning;
  }
  &.success {
    color: $colorSuccess;
  }
  &.info {
    color: $colorInfo;
  }
  &.msg-show {
    transform: translate(-50%, 0);
  }
}

.global-confirm {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,.6);
  z-index: $level10;
  opacity: 0;
  transition: opacity $transSpaceFast ease;
  .confirm-body {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    width: 300px;
    overflow: hidden;
    transform: translate(-50%, -50%) scale(0);
    transition: transform $transSpaceFast ease;
    padding: 20px;
    background-color: $white;
    border-radius: $borderRadius;
    box-shadow: $boxShadow;
    z-index: $level10;
    -webkit-appearance: none;
    .confirm-title {
      height: 30px;
      line-height: 1;
      font-size: 18px;
      font-weight: 700;
      color: $fontGrayst;
    }
    .confirm-text {
      font-size: 14px;
      line-height:20px;
      color: $fontGray;
      word-wrap: break-word;
      word-break: break-all;
      i {
        margin-right: 10px;
      }
    }
    .action-btns {
      margin-top: 20px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      a {
        display: inline-block;
        text-decoration: none;
        vertical-align: top;
        height: 30px;
        margin: 0 20px;
        padding: 5px 20px;
        line-height: 20px;
        font-size: 14px;
        color: $fontGrayst;
        border-radius: $borderRadius;
        box-shadow: $boxShadow;
        -webkit-appearance: none;
      }
    }
  }
  &.confirm-show {
    opacity: 1;
    .confirm-body {
      transform: translate(-50%, -50%) scale(1);
    }
  }
}
