@import "variable.scss";

header {
  position: fixed;
  top: 0;
  padding: 18px 12px;
  line-height: 24px;
  width: 100%;
  height: $headerHeight;
  background-color: $blue;
  box-shadow: $boxShadow;
  color: $white;
  z-index: $level9;
  .side-toggle {
    position: relative;
    top: -13px;
    float: left;
    width: 50px;
    height: 50px;
    border: 1px solid $white;
    background: $gray;
    border-radius: 50%;
    margin-right: 20px;
    box-shadow: $boxShadow;
    img {
      border: none;
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
    i {
      position: absolute;
      left: -2px;
      bottom: -2px;
      display: block;
      width: 14px;
      height: 14px;
      font-size: 12px;
      line-height: 14px;
      text-align: center;
      border-radius: 50%;
      background-color: #fff;
      color: #666;
      box-shadow: $boxShadow;
      transition: transform $transSpace ease;
    }
  }
  h1 {
    padding: 0 12px;
    display: inline;
    font-size: 24px;
  }
  span {
    font-size: 14px;
  }
  ul.tool-bar {
    position: absolute;
    top: 10px;
    right: 0;
    margin-right: 10px;
    a {
      color: $white;
      text-decoration: none;
    }
    li {
      float: left;
      width: 40px;
      height: 40px;
      margin-left: 20px;
      font-size: 20px;
      line-height: 40px;
      text-align: center;
      cursor: pointer;
    }
  }
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  float: left;
  width: $sideBarWidth;
  height: 100%;
  padding-top: $headerHeight + 10;
  box-shadow: $boxShadow;
  z-index: $level8;
  background: #fbfbfb;
  transform: translateX(0);
  transition: transform $transSpace ease;
  ul {
    a {
      color: $black;
      text-decoration: none;
      li {
        height: 50px;
        line-height: 30px;
        font-size: 16px;
        padding: 10px 20px;
        cursor: pointer;
        i {
          position: relative;
          margin-right: 20px;
        }
        &.active {
          background-color: #eee;
        }
      }
    }
  }
  &.collapsed {
    transform: translateX(-$sideBarWidth);
  }
}

.filters-bar {
  position: fixed;
  left: 220px;
  bottom: 10px;
  z-index: $level9;
  transform: translateX(0);
  transition: transform $transSpace ease;
  white-space: nowrap;
  &.wide {
    transform: translateX(-$sideBarWidth);
  }
  .filter-item {
    display: inline-block;
    margin: 0 8px;
    height: 24px;
    font-size: 12px;
    line-height: 14px;
    padding: 5px 10px;
    border-radius: 15px;
    color: $fontGrayer;
    background-color: $white;
    box-shadow: $boxShadow;
    cursor: pointer;
    transition: all $transSpace ease;
    &.on {
      color: $white;
      background: rgba(0, 126, 255, 0.86);
      box-shadow: $boxShadowHover;
    }
    &:hover {
      box-shadow: $boxShadowHover;
    }
  }
}
