/* common */
$white: #fff;
$gray: #ddd;
$black: #333;
$blue: #3367d6;
$blueLight: #6a8dd8;

$colorDanger: #d41919;
$colorWarning: #ec9200;
$colorSuccess: #116d01;
$colorInfo: #0086b3;

$fontGrayst: #666;
$fontGray: #999;
$fontGrayer: #aaa;

$transSpace: .3s;
$transSpaceFast: .1s;

$level8: 8000;
$level9: 9000;
$level10: 9999;
$borderRadius: 4px;
$borderRadiusSm: 2px;
$boxShadow: 0 2px 5px 0 rgba(0,0,0,.26);
$boxShadowDark: 0 4px 8px 0 rgba(0,0,0,.38);
$boxShadowHover: 0 2px 5px 0 rgba(0, 126, 255, 0.46);
$boxShadowInline: 0 0px 4px 0 rgba(0, 0, 0, 0.26);
$boxShadowInlineHover: 0 0px 4px 0 rgba(0, 126, 255, 0.26);

$headerHeight: 60px;
$sideBarWidth: 200px;
